{% load staticfiles %}
<!DOCTYPE html><html>
<head lang="en">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link href="{% static 'jquery.mCustomScrollbar.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet">
    {% block css %}{% endblock %}
    
    <title>{% block title %}content_tracker{% endblock %}</title>
</head>

<body>
    <div class="siteWrapper">

    <header>
        <div class="siteName"> <a href="/">content_tracker</a> </div>
        
        {% block actions %}
            <div class="listLinks"></div>
        {% endblock %}
        
        <div class="userLinks">
            {% if user.is_authenticated %}
                <a href="/accounts/settings">Settings</a>
                <a href="/accounts/logout">Logout</a>
            {% else %}
                <a href="/accounts/register">Sign Up</a>
                <a href="/accounts/login">Login</a>
            {% endif %}
        </div>
    </header>
        
    {% block content %}{% endblock %}

    </div>

        
    {% block js %}
    <script src="{% static 'jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'jquery.mCustomScrollbar.concat.min.js' %}"></script>
    {% endblock %}

</body>
</html>