{% extends 'user.html' %}

{% block title %}
   Settings | {{ block.super }}
{% endblock %}

{% block content %}

    <div class="formWrapper">
        <form method="POST">
            {% csrf_token %}

            {% for field in form %}

                {{ field.label_tag }}

                {% if field.errors %}
                    <p>{{ field.errors.as_text }}</p>
                {% endif %}

                {{ field }}

            {% endfor %}

            <input type="submit" value="Update" />
        </form>
    </div>

{% endblock %}