{% extends 'sample/base.html' %}
{% load staticfiles %}

{% block title %}
    Anime | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="contentWrapper">
        <nav class="mCustomScrollbar" data-mcs-theme="minimal-dark">

            <a href="/lists/sample/1/"> <section> Projects </section> </a>
            <a href="/lists/sample/2/"> <section> TV Shows </section> </a>
            <a href="/lists/sample/3/"> <section> Movies </section> </a>
            <a href="/lists/sample/4/"> <section> Tutorials </section> </a>
            <a href="/lists/sample/5/"> <section> Books </section> </a>
            <a href="/lists/sample/6/"> <section> Educational Websites </section> </a>
            <a> <section class="currSection"> Anime </section> </a>
            <a href="/lists/sample/8/"> <section> Textbooks </section> </a>
            <a href="/lists/sample/9/"> <section> Videogames </section> </a>

        </nav>
        
        <div class="listWrapper mCustomScrollbar" data-mcs-theme="minimal">

            <section id="itemForm">

                <form style="display:none;" id="customShow" name="searchForm">

                    <div>
                        <label for="id_name">Name</label>
                        <input id="id_name" maxlength="100" name="name" type="text" required />
                    </div>

                    <div>
                        <label for="id_description">Description</label>
                        <input id="id_description" maxlength="500" name="description" type="text" />
                    </div>

                    <div>
                        <label for="id_cover">Image URL</label>
                        <input id="id_cover" maxlength="2000" name="cover" placeholder="http://" type="url" />
                    </div>
                        
                    <div>
                        <label for="id_seasons">Seasons</label>
                        <input id="id_seasons" min="0" name="seasons" type="number" value="0" required />
                    </div>

                    <div>
                        <label for="id_writers">Writer(s)</label>
                        <input id="id_writers" maxlength="200" name="writers" type="text" />
                    </div>
                        
                    <div class="button">
                        <input type="button" value="Create Item"
                            onclick="alert( 'This functionality is not available for sample content' )">
                        <input type="button" id="searchButton" onclick="showSearch()" value="Use Search">
                        <input type="button" onclick="hideNewItem()" value="Exit">
                    </div>
                
                </form>

                
                <form id="searchShow" onsubmit="return false;">
                    <div>
                        <input type="text" placeholder="Search The Open Movie Database" id="searchData">
                        <div id="searchWrapper" class="mCustomScrollbar" data-mcs-theme="minimal-dark">
                        </div>
                    </div>

                    <input type="submit" onclick="search()" value="Search">
                    <input type="button" onclick="showCustom()" value="Create Custom Item">
                    <input type="button" onclick="hideNewItem()" value="Exit">
                </form>

            </section>

            <section id="item53">
                <div class="itemHeader">
                    <h1><a class="nolink"> One Piece </a>
                    </h1>

                    <div class="barWrapper" id="barCont53">
                        <div class="bar" id="bar53"
                                style="flex: 0.0 0 auto"></div>
                            <div class="offset" id="barOffset53"
                                style="flex: 1.0 0 auto"></div>
                    </div>

                    <div class="itemOptions" id="itemOptions53">
                        <img src="{% static 'lists/img/edit.png' %}"
                            title="Edit">
                        <img src="{% static 'lists/img/delete.png' %}"
                            title="Delete">
                        <img src="{% static 'lists/img/moveDown.png' %}"
                            title="Move Down">
                        <img src="{% static 'lists/img/moveUp.png' %}"
                            title="Move Up">
                    </div>

                </div>

                <div class="descWrapper">
                    <img src="http://ia.media-imdb.com/images/M/MV5BMTAwNzAwNjQwNjFeQTJeQWpwZ15BbWU3MDg2NTg2NDI@._V1._CR32,31,291,434_SX89_AL_.jpg_V1_SX300.jpg">

                    <div>
                        <div class="extraDesc">
                            <p> Eiichiro Oda </p>

                            <p> <span id="unit53">19</span> seasons </p>

                        </div>

                        <p> Follows the adventures of Monkey D. Luffy and his friends in order to find the greatest treasure ever left by the legendary Pirate, Gol D Roger. The famous mystery treasure named &quot;One Piece&quot;. </p>

                        <p>
                            <a href="http://www.imdb.com/title/tt0388629">
                            IMDB:</a> 8.8
                        </p>

                    </div>
                </div>
            </section>
            
                
            <section id="item54">
                <div class="itemHeader">
                    <h1><a class="nolink"> Death Note </a></h1>

                    <div class="barWrapper" id="barCont54">
                        <div class="bar" id="bar54"
                            style="flex: 0.61 0 auto"></div>
                        <div class="offset" id="barOffset54"
                            style="flex: 0.39 0 auto"></div>
                    </div>

                    <div class="itemOptions" id="itemOptions54">
                        <img src="{% static 'lists/img/edit.png' %}"
                            title="Edit">
                        <img src="{% static 'lists/img/delete.png' %}"
                            title="Delete">
                        <img src="{% static 'lists/img/moveDown.png' %}"
                            title="Move Down">
                        <img src="{% static 'lists/img/moveUp.png' %}"
                            title="Move Up">
                    </div>

                </div>

                <div class="descWrapper">
                    <img src="http://ia.media-imdb.com/images/M/MV5BMTI0NTI1NjU5NV5BMl5BanBnXkFtZTcwNDg3NDg5MQ@@._V1_SX300.jpg">

                    <div>
                        <div class="extraDesc">
                            <p>  </p>
                            <p> <span id="unit54">1</span> season </p>
                        </div>

                        <p> An intelligent high school student goes on a secret crusade to eliminate criminals from the world after discovering a notebook capable of killing anyone whose name is written into it. </p>

                        <p>
                            <a href="http://www.imdb.com/title/tt0877057">
                            IMDB:</a> 9.0
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}